<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap-icons.css"/>
</head>
<body>
<div class="mt-3">
    <div class="mb-5">
        <h2>NavBar Brand with href</h2>
        class="navbar navbar-light bg-light"
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <a href="#" class="navbar-brand">NavBar Brand</a>
            </div>
        </nav>
    </div>
    <div class="mb-5">
        <h2>NavBar H1</h2>
        class="navbar navbar-dark bg-dark"
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <span class="navbar-brand h1 mb-0">NavBar H1</span>
            </div>
        </nav>
    </div>
</div>
<div class="mb-5">
    <h2>NavBar with Image</h2>
    class="navbar navbar-light bg-white"
    Text is wrapped in a span class with align-middle to align it in the middle of the image
    <nav class="navbar navbar-light bg-white">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="../img/50x50.png" alt="image">
                <span class="align-middle">Navbar</span>
            </a>
        </div>
    </nav>
</div>
<div class="mb-5">
    <h2>NavBar with unordered list items</h2>
    Expands on medium screens, collapses to a toggle on smaller than medium
    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="../img/50x50.png" alt="image">
                <span class="align-middle">Navbar</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Active</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Item2 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="mb-5">
    <h2>NavBar with links</h2>
    Also shows content outside of the navbar when toggled
    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="../img/50x50.png" alt="image">
                <span class="align-middle">Navbar</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar2, #toggledContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar2">
                        <a href="#" class="nav-link active">Active</a>
                        <a href="#" class="nav-link">Item2 </a>
                        <a href="#" class="nav-link disabled">Disabled</a>
            </div>
        </div>
    </nav>
    <div class="collapse" id="toggledContent">This is content outside of the navbar</div>
</div>


<div class="mb-5">
    <h2>NavBar with unordered list items and a drop down on an item</h2>
    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="../img/50x50.png" alt="image">
                <span class="align-middle">Navbar</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar3">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" id="DropdownItem" data-bs-toggle="dropdown" role="button">Active</a>
                        <ul class="dropdown-menu" aria-labelledby="Dropdown">
                            <li><a href="#" class="dropdown-item">Dropdown Item1</a></li>
                            <li><a href="#" class="dropdown-item">Dropdown Item2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Item2 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled">Disabled</a
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="mb-5">
    <h2>NavBar with form control</h2>
    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container" >
            <a href="#" class="navbar-brand">
                <img src="../img/50x50.png" alt="image">
                <span class="align-middle">Navbar</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar4">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbar4">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" id="DropdownItem2" data-bs-toggle="dropdown" role="button">Active</a>
                        <ul class="dropdown-menu" aria-labelledby="Dropdown">
                            <li><a href="#" class="dropdown-item">Dropdown Item1</a></li>
                            <li><a href="#" class="dropdown-item">Dropdown Item2</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Item2 </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled">Disabled</a
                    </li>
                </ul>
                <form class="form-inline">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>

<div class="mb-5">
    <h2>NavBar Colors</h2>
    navbar-light - changes text to be suitable for light backgrounds
    <br>
    navbar-dark - changes text to be suitable for dark backgrounds
    <nav class="navbar navbar-dark bg-primary mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">navbar-dark bg-primary</a>
        </div>
    </nav>
    <nav class="navbar navbar-light bg-primary mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">navbar-light bg-primary</a>
        </div>
    </nav>
    <nav class="navbar navbar-light bg-white mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">navbar-light bg-white</a>
        </div>
    </nav>
    <nav class="navbar navbar-light bg-warning mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">navbar-light bg-warning</a>
        </div>
    </nav>
    <nav class="navbar navbar-dark bg-secondary mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">navbar-dark bg-secondary</a>
        </div>
    </nav>

    <nav class="navbar navbar-dark bg-success mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">navbar-dark bg-success</a>
        </div>
    </nav>


    <nav class="navbar navbar-dark bg-success bg-opacity-50 mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">navbar-dark bg-success bg-opacity-50</a>
        </div>
    </nav>

    <nav class="navbar navbar-light bg-transparent mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">navbar-light bg-transparent</a>
        </div>
    </nav>


    <nav class="navbar mb-3" style="background-color: coral">
        <div class="container">
            <a href="#" class="navbar-brand" style="color: crimson">navbar-light style="background-color: coral, a href style=color: crimson</a>
        </div>
    </nav>
</div>



<script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>